@page "/fileInput"
@using FileUploadBlazor.Services
@inject IFileUpload fileUpload
<h3>FileInput</h3>

<InputFile OnChange="HandleFileSelected" />

@if (file != null)
{
    <p>Name: @file.Name</p>
    <p>Size in bytes: @file.Size</p>
    <p>File type: @file.Type</p>
}


@code {
    IFileListEntry file;

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            await fileUpload.UploadAsync(file);
        }
    }
}
